In [ ]:
# 나이 정보가 없는 회원 수
# SELECT COUNT(*)-COUNT(AGE)
# FROM USER_INFO

In [ ]:
# 동물 수 구하기
# SELECT COUNT(*) FROM ANIMAL_INS

In [ ]:
# 이름에 EL이 들어가는 동물 찾기
# SELECT ANIMAL_ID,NAME FROM ANIMAL_INS
# WHERE NAME LIKE '%EL%' AND ANIMAL_TYPE='Dog'
# ORDER BY NAME ASC

In [ ]:
# 고양이와 개는 몇마리 있을까
# SELECT ANIMAL_TYPE, COUNT(ANIMAL_TYPE) AS count FROM ANIMAL_INS
# GROUP BY ANIMAL_TYPE
# ORDER BY ANIMAL_TYPE ASC

In [ ]:
# NULL 처리하기
# SELECT ANIMAL_TYPE, IFNULL(NAME, 'No name'), SEX_UPON_INTAKE FROM ANIMAL_INS
# ORDER BY ANIMAL_ID

In [ ]:
# 여러 기준으로 정렬하기
#  SELECT ANIMAL_ID, NAME, DATETIME FROM ANIMAL_INS
# ORDER BY NAME ASC, DATETIME DESC

In [ ]:
# 어린 동물 찾기
# SELECT ANIMAL_ID, NAME FROM ANIMAL_INS
# WHERE INTAKE_CONDITION != 'Aged'

In [ ]:
# 아픈동물 찾기
# SELECT ANIMAL_ID, NAME FROM ANIMAL_INS
# WHERE INTAKE_CONDITION = 'Sick'