In [ ]:
# 나이 정보가 없는 회원 수
# SELECT COUNT(*)-COUNT(AGE)
# FROM USER_INFO

In [ ]:
# 동물 수 구하기
# SELECT COUNT(*) FROM ANIMAL_INS

In [ ]:
# 이름에 EL이 들어가는 동물 찾기
# SELECT ANIMAL_ID,NAME FROM ANIMAL_INS
# WHERE NAME LIKE '%EL%' AND ANIMAL_TYPE='Dog'
# ORDER BY NAME ASC

In [ ]:
# 고양이와 개는 몇마리 있을까
# SELECT ANIMAL_TYPE, COUNT(ANIMAL_TYPE) AS count FROM ANIMAL_INS
# GROUP BY ANIMAL_TYPE
# ORDER BY ANIMAL_TYPE ASC

In [ ]:
# NULL 처리하기
# SELECT ANIMAL_TYPE, IFNULL(NAME, 'No name'), SEX_UPON_INTAKE FROM ANIMAL_INS
# ORDER BY ANIMAL_ID

In [ ]:
# 여러 기준으로 정렬하기
#  SELECT ANIMAL_ID, NAME, DATETIME FROM ANIMAL_INS
# ORDER BY NAME ASC, DATETIME DESC

In [ ]:
# 어린 동물 찾기
# SELECT ANIMAL_ID, NAME FROM ANIMAL_INS
# WHERE INTAKE_CONDITION != 'Aged'

In [ ]:
# 아픈동물 찾기
# SELECT ANIMAL_ID, NAME FROM ANIMAL_INS
# WHERE INTAKE_CONDITION = 'Sick'

In [ ]:
# 가격이 제일 비싼 식품의 정보 출력하기
# SELECT PRODUCT_ID, PRODUCT_NAME, PRODUCT_CD, CATEGORY, PRICE FROM FOOD_PRODUCT
# ORDER BY PRICE DESC
# LIMIT 1

In [ ]:
# 상위 N개 레코드
# SELECT NAME FROM ANIMAL_INS
# ORDER BY DATETIME ASC
# LIMIT 1

In [ ]:
# 역순 정렬하기
# SELECT NAME, DATETIME FROM ANIMAL_INS
# ORDER BY ANIMAL_ID DESC

In [ ]:
# 최소값 구하기
# SELECT DATETIME FROM ANIMAL_INS
# ORDER BY DATETIME ASC
# LIMIT 1

In [ ]:
# 중복 제거하기
# SELECT COUNT(DISTINCT(NAME)) FROM ANIMAL_INS

In [ ]:
# 동명 동물 수 찾기
# SELECT NAME, COUNT(NAME) AS 'COUNT' FROM ANIMAL_INS
# GROUP BY NAME
# HAVING COUNT(NAME)>1
# ORDER BY NAME ASC

In [ ]:
# 자동차 평균 대여기간 구하기!!!!!!!!!!!!!!!!
# SELECT CAR_ID, ROUND(AVG(DATEDIFF(END_DATE, START_DATE)+1), 1) AS AVERAGE_DURATION
# FROM CAR_RENTAL_COMPANY_RENTAL_HISTORY
# GROUP BY CAR_ID
# HAVING AVERAGE_DURATION >=7
# ORDER BY AVERAGE_DURATION DESC, CAR_ID DESC
# https://monawa.tistory.com/119

In [ ]:
# DATETIME에서 DATE로 형 변환
# SELECT ANIMAL_ID, NAME, DATE_FORMAT(DATETIME,'%Y-%m-%d') AS '날짜' FROM ANIMAL_INS