In [ ]:
# 나이 정보가 없는 회원 수
# SELECT COUNT(*)-COUNT(AGE)
# FROM USER_INFO

In [ ]:
# 동물 수 구하기
# SELECT COUNT(*) FROM ANIMAL_INS

In [ ]:
# 이름에 EL이 들어가는 동물 찾기
# SELECT ANIMAL_ID,NAME FROM ANIMAL_INS
# WHERE NAME LIKE '%EL%' AND ANIMAL_TYPE='Dog'
# ORDER BY NAME ASC