In [ ]:

# SELECT COUNT(*)-COUNT(AGE)
# FROM USER_INFO